* {
    margin: 0%;
   box-sizing: border-box;
   text-decoration: none;

}
/*========================= MIDIAS SOCIAIS =======================================*/
i{
    display:inline-flex;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    left: 3%;
    top: 30vh;
}
i:hover{
    color: rgb(255, 18, 251);
}
i2{
    display:inline-flex;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    left: 3%;
    top: 35vh;
}
i2:hover{
    color: rgb(55, 211, 3);
}
i3{
    display:inline-flex;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    left: 3%;
    top: 40vh;
}
i3:hover{
    color: rgb(49, 15, 185);
}
header{
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 10vh;
    width: 100%;
    height: 15vh;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

/*------------------PAGINA 1 -------------------------------*/

.pag1{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;

}
h1 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: aliceblue;
    text-align: center;
    font-size: 2vh;
    left: 78%;
    top: 8%;
}
h1:hover{
    color:rgb(101, 101, 101);
}
h2 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #fcfcfc;
    text-align: center;
    font-size: 2vh;
    left: 80%;
    top: 8%;

}
h3 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: aliceblue;
    text-align: center;
    font-size: 2vh;
    left: 82%;
    top: 8%;

}

h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: relative;
    color: aliceblue;
    text-align: center;
    font-size: 40vh;
    left:30%;
    top: 0%;
}

h6{
    display: inline-block;
    position: relative;
    color: aliceblue;
    text-align: center;
    font-size: 4vh;
    right: 8%;
    top: 10%;
}

.linha1{
    position: relative;
    left: 15%;
    height: 15vh;
    top: 20vh;
    width: 0%;
}


.img3{
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    width: 5%;
    height: 10vh;
    left: 2%;
    top: 5vh;
}
/*------------------PAGINA 2 -------------------------------*/
.pag2{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.img4{
    display: inline-block;
    position: absolute;
    width: 32%;
    height: 90vh;
    left:0%;
    top: 10vh;
}
.img5{
    display: inline-block;
    position: absolute;
    width: 33%;
    height: 90vh;
    left: 34%;
    top: 10vh;
}
.img6{
    display: inline-block;
    position: absolute;
    width: 31%;
    height: 90vh;
    left: 69%;
    top: 10vh;
}

h7{
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 4vh;
    left: 47%;
    top: 13%;
}

/*------------------PAGINA 2 -------------------------------*/
.pag3{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 100vh;
    left: 0%;
    top: 10vh;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(3, 0, 12, 0.4),
            rgba(3, 0, 12, 0.4)), url("../Imagens/COSTA\ PRETA.jpg");
    background-repeat:round;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
}



/*------------------PAGINA 3 -------------------------------*/

.pag4 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80vh;
    top: 1vh;
    max-height: 100vh;
    overflow: hidden;
}


h5{
    display: inline-block;
    font-weight:900;
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5vh;
    left: 33%;
    top: 40%;
}

.linha2{
    position: relative;
    color: rgb(0, 0, 0);
    border-left: 5px solid;
    left: 90%;
    width: 0;
    height:25vh;
    top: 50vh;
}


/*------------------PAGINA 4 -------------------------------*/
.pag5{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50vh;
    top: 0vh;
    background-color: rgb(0, 0, 0);
}


h8{
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 4vh;
    left: 45%;
    top: 20%;
}

.telefone{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    right: -5%;
    color:rgb(255, 255, 255);
    font-size: 3vh;
    top: 38vh;
  }
  
  .endereco{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    right: -3.4% ;
    color:rgb(255, 255, 255);
    font-size: 2vh;
    top: 25vh;
  }
  .email{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    right: 22.1% ;
    color:rgb(255, 255, 255);
    font-size: 2vh;
    top: 35vh;
  }

  .img7{
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    width: 8%;
    height: 15vh;
    left: 46%;
    top: 15vh;
}

/*------------------------ BOTAO AGENDA ---------------------------*/
button,.botao{
    --color: #ffffff;
    font-family: inherit;
    background-color:transparent;
    display:inline-block;
    position:relative;
    width: 15%;
    left: 42%;
    top: -5%;
    height: 7%;
    line-height: 0%;
    overflow: hidden;
    cursor: pointer;
    margin: 0px;
    font-size:20px;
    z-index: 1;
    color: rgb(255, 255, 255);
    border: 2px solid  rgb(255, 255, 255);
    border-radius: 0px;
   
  }
  
  button,.botao::before {
    position: absolute;
    content:"";
    background:  rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    z-index: -1;
    border-radius: 20%;

  }
  
  button,.botao:hover {
    color:rgb(0, 0, 0);

  }
  
  button,.botao:before {
    top: 100%;
    left: 100%;
    transition: 0.1s all;

  }
  
  button,.botao:hover::before {
    top: -30px;
    left: -30px;
   

    
  }

/*------------------------ BOTAO VER MAIS ---------------------------*/

button,.botao2{
    --color: #ffffff;
    font-family: inherit;
    background-color:transparent;
    display:inline-block;
    position:relative;
    width: 15%;
    left: 8%;
    top: 55%;
    height: 7%;
    line-height: 0%;
    overflow: hidden;
    cursor: pointer;
    margin: 0px;
    font-size:20px;
    z-index: 1;
    color: rgb(0, 0, 0);
    border: 2px solid  rgb(0, 0, 0);
    border-radius: 0px;
   
  }
  
  button,.botao2::before {
    position: absolute;
    content:"";
    background:  rgb(0, 0, 0);
    width: 500px;
    height: 100px;
    z-index: -1;
    border-radius: 20%;

  }
  
  button,.botao2:hover {
    color:rgb(255, 255, 255);

  }
  
  button,.botao2:before {
    top: 100%;
    left: 100%;
    transition: 0.1s all;

  }
  
  button,.botao2:hover::before {
    top: -30px;
    left: -30px;
   

    
  }


/*------------------------  SUBIR TOPO ---------------------------*/

  #subir{
	position:relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 3vh;
  width: 0vh;
	top: 35vh;
	left:85%;
}
#subir:hover{
  color: rgb(91, 106, 89);
}


/*------------------------  VERSAO CELULAR ---------------------------*/
@media only screen and (max-width: 700px) {
  .pag1 {
    width: 100%;
    height: 100vh;
  }
  .h4{
    font-size: 25vh;
    text-align: center;
    left: 5%;
  }
  .img3{
    width: 11%;
    height: 7vh;
    left: 5%;
  }
  .botao{
    width: 30%;
    top: 5vh;
    left: 35%;
  }
  .linha1{
    top: 60vh;
  }
  h3,h2{
    display: none;
  }
  a{
    display: none;
  }
  .pag2{
    width: 100%;
    height: 60vh;
  }
  .img4,.img5,.img6{
    height: 50vh;
  }
  .pag3{
    height: 30vh;
  }
  .pag4{
    height: 50vh;
  }
  h5{
    font-size: 150%;
    left: 5%;
    top: 20vh;
  }
  .botao2{
    width: 30%;
    left: 35%;
    font-size: 100%;
  }
  .pag5{
    height: 40vh;
  }
  .img7{
    width: 30%;
    left: 35%;
  }
  h12{
    display: none;
  }
}


  