* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}
header{
    display:inline-block;
    position: relative;
    background-color: rgb(3, 19, 33);
    height: 20vh;
    width: 200vh;
    overflow: hidden;
}
.pag1{
    display: inline-block;
    position: relative;
    width: 100vh;
    height: 100vh;
    background-color: aqua;
}
h1 {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: 900;
    top: 5vh;
    left: 40%;
}
h2 {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    top: 5vh;
    left: 93%;
}
h3 {
    display: inline-block;
    position: relative;
    color: aliceblue;
    font-size: 10vh;
    top: 5vh;
    left: 30vh;
}
